<body>  
  <nav style="background-color:#004d9d;" class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a routerLink="contrats"  style="color:white;">Contrat</a></li>
            <li><a routerLink="ressources"  style="color:white;">ressources</a></li>

             </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  
  
  
    
  </body>   


          
  